
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 @import url('https://fonts.cdnfonts.com/css/miama');
.miama-font{
  font-family:"Miama", sans-serif;
  font-size:9rem;
  font-weight:400;
}
          
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared styles */

.background{
  margin:0px;
}
 .display-flex{
    display: flex;
 }
 .bg-color-3{
  background-color: rgba(34, 34, 34, 1);
 }
 .white-text{
    color:rgba(255, 255, 255, 1);
 }
  .gray-text{
    color:rgba(255, 255, 255, 0.5) ;
  }
  .btn-1{
    background-color: rgba(230, 83, 60, 1);
    padding:18px 40px;
    border-radius:42px;
    font-weight:700px;
    font-size:1.125rem;
    border:none;
  }
/* header styles */
  
.bg-color-1{
  background: linear-gradient( 180deg ,rgba(17, 17, 17, 1),rgb(38, 38, 38),rgba(17, 17, 17, 1));
}

.intro-header{
  line-height:78px;
}


/* navbar related styles */

.bar{
  height:10px;
  width:10px;
  border-radius:2px;
  background:white;
}

  #home{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 28px;
    position:relative;
    right:38px;
    padding:10px 20px;   
  }
.italic{
    color: rgba(230, 83, 60, 1);
    font-size:2.5rem;
    font-weight:800px;
}
.navbar{
 justify-content: space-between;
 padding-top:57px;
}
.nav-item{
    padding-right:5px;
}
.nav{
  gap:40px;
  position: relative;
  right:40px;
}
.nav-links{
  list-style: none; 
  gap:50px;
  border:1px solid rgba(255, 255, 255, 0.1);
  border-radius:40px;
  height:32px;
  width:420px;
  padding-top:12px;
}
.nav-link{
    text-decoration:none;
    font-weight:700px;
    font-size:1.125rem; 
    padding-right:px;
  }

.navbar, .banner, .habits, .excercise, .running-man, .bmi-section, .measurement-area,.team-section, .image-section, .footer, .rights {
    max-width:1440px;
 
    margin: 0 auto;
    
}
.text{
  margin-bottom:30px;
}


/* banner related styles */
.intro-header{
    font-size:4.8rem;
    font-weight: 900;
}
.banner{
    justify-content: space-between;
}
.btn-2{
    padding:16px 40px;
    border-radius:42px;
    font-weight:700px;
    font-size:1.125rem; 
    border-color:white;
    background-color:rgba(17, 17, 17, 1);
    margin-left:15px;
}
#badge-1{
  background: rgba(255, 255, 255, 0.1);
  border:1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  bottom:390px;
  left:260px;
  width:206px;
  height: 96px;
  border-radius:12px;
  backdrop-filter:blur(12px);
  text-align: left;
  padding-left:20px;
  color:rgba(255, 255, 255, 0.5);
}

#badge-2{
  background: rgb(38, 38, 38, 0.54);
  border:1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  bottom: 75px;
  left: -265px;
  width: 206px;
  height: 96px;
  border-radius:12px;
  backdrop-filter:blur(12px);
  font-weight:800px;
}
#boy-1{
  position: relative;
  left:400px;
  top:12px;

}
#circle{
  background:  rgba(230, 83, 60, 1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position:relative;
  top:22px;
  left:6px;
}



#badge-number-1{
  font-weight:900;
  font-size:2.5rem;
  color:white;
}



#badge-number-2{
  font-weight:700;
  font-size:1.5rem;
  color:white;
}
.badge-info{
  text-align:left;
  position: relative;
  left:70px ;
  bottom: 20px;
  font-size:1rem;
}
/* habit section */
.bg-color-2{
  background:black;
}
.habit-text{
  text-align:center;
}

.habits{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.habit-info{
padding-bottom:40px;

}
.excercise{
  display: flex;
  gap:10px;
}
.alignment{
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-items: center;

}

.common-title{
  margin-top:50px;
  height:20px;
  font-size:3rem;
  font-weight:800 ;
}
.habit-heading{
font-size:1.125rem;
font-weight:700;
}
.excercise-pic{
  height: 240px;
  width:240px;
  border:6px solid rgba(34, 34, 34, 1) ;
  border-radius:50% ;
}
 .running-man{
  margin-top:60px;
  display:flex;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 18px;
  justify-content:space-between;
  width:1200px;
 }
.runner{
  height: 312px;
  width:400px;
  padding:35px ;
  border:1px solid  rgba(34, 34, 34, 1);
  border-radius: 60px;  
  margin-top:8px ;
}
.extra-mile{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  margin-left: 40px;
}
.runner-text-custom{
  width: 480px;
}
.runner-text{
  margin:60px auto 20px 0px;
}
.runner-btn{
  background-color: rgba(230, 83, 60, 1);
  padding:12px 50px;
  border-radius:42px;
  font-weight:700px;
  font-size:1.125rem;
  border:none;
  margin-top: 30px;
}
/* BMI Calculator */
.bmi-text-1{
  display: flex;
  flex-direction:column;
  line-height:0px;
  align-items: center;
}
.bmi-heading{
  text-align: left;
  padding-right:600px ;
  font-size:3rem;
  padding-top:60px;
}
.bmi-text-2{
  padding-right:325px ;
  font-size:1rem;
  margin-bottom: 40px;
}

.chart-heading{
  font-size:1.75rem;
}
.calculator{
  width:900px;
  padding-top:40px;
  margin-bottom: 40px;
}

.weight-status {
  display:grid;
  grid-template-columns:160px 160px;
  
}
.item{
  border:1px solid rgba(255, 255, 255, 0.1);
  color:rgba(255, 255, 255, 0.6);
  
  padding: 20px;
}
.calculation{
  display:flex;
  flex-direction: column;
  gap:4px;
  margin-top:60px;
}
.calculation-area{
position: relative;
right: 100px;
}
.chart{
  display:flex;
  flex-direction:row;
}
.bmi-status{
 position: relative;
 /* left:400px; */
}
.input-1{
 width: 400px;
 height:50px;
 background-color: rgba(255, 255, 255, 0.1);
 border: none;
 border-radius: 10px;
 border: none;
 border-radius: 10px;
 padding-left:8px;
}


.input-2{
  width: 816px;
  height: 50px;
  background-color:rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 12px;
  padding-left:8px;
}
.calculation-area{
  margin-top: 50px;
}
.calculate-btn{
  width:200px;
}
.placeholder{
  padding-left:10px;
}

/* team-section */
.team-section{
  margin-top: 80px;
  text-align: center;
}
.trainer{
  position: relative;
  bottom:50px;

}
.trainer-section{
  position: relative;
  bottom:20px;
}

.image-section{
  display:grid;
grid-template-columns:repeat(3,1fr);
  background-color: rgba(34, 34, 34, 1);
  width:900px;
  height: 540px;
  padding-left:20px;
  padding-top:10px;
  border-radius:28px;
}
.text{
  position:relative;
  bottom:40px;
  color:white;
  padding-left:4px;
  
}
 .trainer-img{
  width:280px;
  height:242px;
  position:relative;
  top:10px;
  border-radius:18px;
 }
 .team-heading{
  font-size:3rem;
  line-height:20px
 }
 .team-text{ 
  font-size:1rem;
  padding-bottom: 20px;
 }

 /* footer section */
 .footer{
  justify-content: space-around;
 }
 .logo{
  font-size:4.3rem;
 }
 .footer-heading{
  font-size:2rem;
  margin-left: 30px;
 }
 .info, .service{
  margin-top:40px;
 }
 .line{
  margin-top: 40px; 
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 1460px;
 }
 .service-text{
  width:700px;
 }
 .service{
  text-align:left;
 }
 .last-text{
  text-align:center;
  padding-top:20px;
  padding-bottom:10px;
  color:rgba(255, 255, 255, 0.5);
  font-size:1.25rem;
 }
/* media query */
@media screen and (max-width:576px)
{
 .miama-font{
  font-size:4.8rem;
 }
 .intro-header{
  line-height:40px;
 }
  .background{
    max-height:1024 ;
  }


.nav-links{
  display:none;
}

#italic{
  margin-left:20px;
}
.banner{
  flex-direction:column;
}
.intro-header{
  margin-left:20px;
  font-size:2.25rem;
}
.text{
  margin-left:20px;
}
.content-1{
  margin-top:60px;
  margin-right:80px;
}
 .button{
 margin-left: 10px;
 }

 .btn-1{
  margin-top: 80px;
  padding: 16px 25px ;
 }
 .btn-2{
  margin-top:80px;
  padding: 16px 25px ;
 }

 .banner{
  justify-content: center;
 }
.boy{
position: relative;
right:360px;
top:94px;

}
#badge-1{
  position: relative;
  left:580px;
  bottom:540px;
  width:155px;
  height:88px;
  font-size:0.70rem;
}
#badge-number-1{
  font-size:1.8rem;
}

#badge-2{
  position:relative;
  left: 250px;
  bottom:320px;
  width:155px;
  height:88px;  
}

.badge-info{
  font-size:0.70rem;    
}
  /* runner section */
.habit-text-custom{
  width:220px;
}



  .excercise{
    display: flex;
    flex-direction:column;
  }
  .running-man{
    flex-direction:column;
    /* padding-left:8px; */
    width:340px;
  }
  .runner{
    border:none;
    height:170px;
    width:264px ;
  }
  .runner-text{
    text-align:left;
  }
  .runner-text-custom{
    width:280px;
  }

  .common-title{
    font-size:2rem;
  }
  .habits{
    flex-direction:column;
    align-items:center;
  }
  .habit-info{
    text-align: center;
  }
  .runner-btn{
    padding:16px 80px;
    margin-left: 18px;
  }
  .chart{
    flex-direction: column;
  }
.bmi-status{
  position: relative;
  left:35px;
}
.bmi-text-1{
  
position: relative;
left:140px; 
font-size:1.5rem;
}
.bmi-heading{
  position: relative;
left:150px;
font-size:2rem;
line-height:30px;
width:300px;
} 
.bmi-text-2{
  font-size:1rem;
  width: 280px;
  line-height: 30px;
}
.input-1{
  width: 174px;
  margin-left:5px;}

  
.input-2{
  
  width:370px;
  margin-left:4px;
}
.calculation{
  display:flex;
  flex-direction:column;
  gap:10px;
  
}
.chart-text{
  padding-left: 10px;
}
.calculate-btn{
  position: relative;
  bottom:20px;
  right:12px ;
  padding:12px 20px;
 
}
.calculation-area{
  position: relative;
  left:2px;
}
.image-section{  display:flex;

  flex-direction: column;

align-items: center;
width:340px;
height:1850px;
padding-right: 18px;


}
.trainer-img{
  width: 340px;

}
  
.trainer-1{
  position: relative;
  top: 60px;
}
  .trainer-2{
    position: relative;
    top: 60px;
  }
  .trainer-3{
    position: relative;
    top: 60px;
  }
  .footer{
    display: flex;
    flex-direction: column;
  }
.info{
  text-align:left;
  padding-left:16px;
}

.service-text{
  width: 400px;
}
.line{
  width: 360px;
}
.last-text{
  width:300px;
  padding-bottom:80px;
  padding-left:60px;
}

}
